@inherits LayoutComponentBase

@inject IServerCollection _serverCollection

<div class="flex h-dvh">
    <div class="bg-slate-700 text-white p-4 flex flex-col">
        @foreach (var server in _servers)
        {
            <NavLink href="@GetLink(server.Id)">@server.Name</NavLink>
        }
        <div class="grow">
            <NavLink href="/new-server">Add Server</NavLink>
        </div>
        <div><NavLink>About</NavLink></div>
    </div>
    <div class="p-4 grow">
        @Body
    </div>
</div>

@code{
    IEnumerable<Server> _servers = [];

    protected override async Task OnInitializedAsync(){
        try
        {
            _servers = await _serverCollection.GetAll();
        }
        catch { }
    }

    private string GetLink(int id) => $"/server/{id}";
}
