@page "/new-server"

@inject IServerCollection _serverCollection
@inject NavigationManager _navigationManager

<article>
    <h3>Follow the instructions below</h3>
    <p>These steps will help you install Outline on a Linux server.</p>

    <div class="pt-4">
        <p>Log into your server, and run this command.</p>
        <textarea class="w-full border">sudo bash -c "$(wget -qO- https://raw.githubusercontent.com/Jigsaw-Code/outline-server/master/src/server_manager/install_scripts/install_server.sh)"</textarea>
    </div>

    <div class="pt-4">
        <p>Paste your installation output here.</p>
        <textarea 
            placeholder="@placeholder"
            class="w-full border"
            @onchange="@SetServerDetails"
        ></textarea>
    </div>

    <div class="pt-4">
        <button class="p-2 bg-gray-100 rounded">Cancel</button>
        <button 
            class="p-2 bg-gray-100 rounded"
            @onclick="Save"
        >Save</button>
        <p class="text-red-900">@saveMessage</p>
    </div>
</article>

@code {
    string placeholder = "{\"apiUrl\":\"https://xx.xx.xx.xx:xxxx/xxxxxxxxxx\",\"certSha256\":\"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\"}";
    string newServerDetails = "";

    string saveMessage = "";

    private void SetServerDetails(ChangeEventArgs args) => newServerDetails = args.Value?.ToString() ?? "";

    public async Task Save()
    {
        saveMessage = "";

        try
        {
            var server = newServerDetails.FromJson<Server>()
                ?? throw new Exception("Deserialize results in null.");

            await _serverCollection.Add(server);

            _navigationManager.NavigateTo($"/server/{server.Id}");
        }
        catch (Exception exception)
        {
            saveMessage = exception.Message;
        }
    }
}
