@page "/server/{Id:int}"

@inject IServerCollection _severCollection;

<h2>@(_server?.Name ?? "Not Found")</h2>

@code{
    [Parameter]
    public int Id { get; set; }

    private Server? _server;
    private IEnumerable<string> _keys = [];

    protected override async Task OnInitializedAsync()
    {
        _server = await _severCollection.Get(Id);
        await LoadKeys();
    }

    private async Task LoadKeys()
    {
        var keys = await _server!.LoadKeys();
    }
}
