@inherits LayoutComponentBase

@inject IServerService _serverService

<div class="flex h-dvh">
    <div class="bg-slate-700 text-white p-4 flex flex-col">
        @foreach (var server in _servers)
        {
            <NavLink href="@GetLink(server.Id)">@server.Name</NavLink>
        }
        <div class="grow">
            <NavLink href="/new-server">Add Server</NavLink>
        </div>
        <div><NavLink>About</NavLink></div>
    </div>
    <div class="p-4 grow">
        @Body
    </div>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    IEnumerable<ServerModel> _servers = [];

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _servers = await _serverService.GetAll();
        }
        catch { }
    }

    private string GetLink(int id) => $"/server/{id}";
}
